[submodule "Projects/Desktop-Pet-Prototype-2024"]
	path = Projects/Desktop-Pet-Prototype-2024
	url = https://gitlab.com/mjhenning2003/AI_Pet_Project.git
[submodule "Projects/Networked-Prototype-2024"]
	path = Projects/Networked-Prototype-2024
	url = https://gitlab.com/marco6182708/networking-prototype.git
