[submodule "Projects/Desktop-Pet-Prototype-2024"]
	path = Projects/Desktop-Pet-Prototype-2024
	url = https://gitlab.com/mjhenning2003/AI_Pet_Project.git
[submodule "Projects/Networked-Prototype-2024"]
	path = Projects/Networked-Prototype-2024
	url = https://gitlab.com/marco6182708/networking-prototype.git
[submodule "Projects/Open-World-Prototype-2023"]
	path = Projects/Open-World-Prototype-2023
	url = https://gitlab.com/mjhenning2003/Open-World-GX-T3.git
